//------------------------------------------------------------------------------
// Root Fonts Size
//------------------------------------------------------------------------------
$root-font-size: 16px;

//------------------------------------------------------------------------------
// Grid Columns
//------------------------------------------------------------------------------
$grid-cols: 12 !default;
$grid-gap: 20px;
$grid-gap-xl: 30px;

//------------------------------------------------------------------------------
// Size Scale (1.250 - Major Third)
//------------------------------------------------------------------------------
$base-size: 1rem;

$size-scale: (
  s-3: $base-size * 0.512,
  s-2: $base-size * 0.64,
  s-1: $base-size * 0.8,
  s0: $base-size,
  s1: $base-size * 1.25,
  s2: $base-size * 1.563,
  s3: $base-size * 1.953,
  s4: $base-size * 2.441,
  s5: $base-size * 3.052,
);

//------------------------------------------------------------------------------
// Breakpoints
//------------------------------------------------------------------------------
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

//------------------------------------------------------------------------------
// Containers
//------------------------------------------------------------------------------
$containers: (
  sm: 100%,
  md: 720px,
  lg: 960px,
  xl: 1040px,
  xxl: 1320px
);

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------
$colors: (
  neutral: (
    color-1: rgba(250, 250, 250, 1),
    color-2: rgba(245, 245, 245, 1),
    color-3: rgba(238, 238, 238, 1),
    color-4: rgba(224, 224, 224, 1),
    color-5: rgba(189, 189, 189, 1)
  ),
  dark: (
    color-1: rgba(158, 158, 158, 1),
    color-2: rgba(117, 117, 117, 1),
    color-3: rgba(97, 97, 97, 1),
    color-4: rgba(66, 66, 66, 1),
    color-5: rgba(33, 33, 33, 1)
  ),
  blue: (
    color-1: rgba(142, 214, 251, 1),
    color-2: rgba(28, 120, 192, 1)
  )
);

//------------------------------------------------------------------------------
// Shadows
//------------------------------------------------------------------------------
$shadows: (
  color-1: 0 25px 25px -10px rgba(158, 158, 158, 0.24),
  color-2: 0 25px 25px -10px rgba(117, 117, 117, 0.24),
  color-3: 0 25px 25px -10px rgba(97, 97, 97, 0.24),
  color-4: 0 25px 25px -10px rgba(66, 66, 66, 0.24),
  color-5: 0 25px 25px -10px rgba(33, 33, 33, 0.24)
);

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------
$fonts: (
  light: 'lato-light',
  regular: 'lato-regular',
  bold: 'lato-bold'
);

//------------------------------------------------------------------------------
// Z-indexes
//------------------------------------------------------------------------------
$zindexes: (
  dropdown: 1000,
  sticky: 1020,
  fixed: 1030,
  offcanvas-backdrop: 1040,
  offcanvas: 1045,
  modal-backdrop: 1050,
  modal: 1055,
  popover: 1070,
  tooltip: 1080,
);
