@use '../abstracts/' as *;

.bg-wave {
  --pattern-width: #{toRem(64px)};
  --pattern-height: #{toRem(30px)};

  position: relative;

  &::before {
    position: absolute;
    top: calc(50% - calc(var(--pattern-height) / 2));
    left: toRem(-27px);
    content: '';
    width: var(--pattern-width);
    height: var(--pattern-height);
    background-color: var(--red-color-1);
    mask-image: url('assets/images/shared/bg-pattern-wave.svg');
    mask-position: top left;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  @include media-breakpoint(xl) {
    --pattern-width: #{toRem(134px)};
    --pattern-height: #{toRem(60px)};

    &::before {
      left: toRem(-67px);
    }
  }
}
