@use '../abstracts/' as *;

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100vh;

  &__skip-link {
    position: absolute;
    top: toRem(20px);
    left: toRem(20px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: toRem(26px) toRem(32px);
    font-weight: var(--font-weight-extra-bold);
    font-size: toRem(14px);
    line-height: 1.75;
    background-color: var(--dark-color-4);
    color: var(--neutral-color-1);
    z-index: var(--zindex-sticky);
    transform: translateX(-200%);
    transition: transform 0.25s ease-in-out, opacity 0.75s ease-in-out;

    &:focus {
      opacity: 1;
      transform: translateX(0);
    }
  }

  > main {
    flex-grow: 1;
  }
}
