@use '../abstracts/' as *;

.picture {
  &-align,
  &-align-right {
    --illus-min-width: #{toRem(375px)};
    --illus-max-width: #{toRem(895px)};
    --illus-target-width: 57vw;

    position: relative;
    overflow: hidden;

    > picture {
      width: clamp(
        var(--illus-min-width),
        var(--illus-target-width),
        var(--illus-max-width)
      );

      > img {
        width: 100%;
      }
    }

    @include media-breakpoint(md) {
      > picture {
        position: absolute;
        top: 0;
      }
    }

    @include media-breakpoint(lg) {
      --illus-target-width: 63vw;
    }
  }

  &-align {
    @include media-breakpoint(md) {
      > picture {
        left: 0;
      }
    }
  }

  &-align-right {
    @include media-breakpoint(md) {
      > picture {
        right: 0;
        z-index: -1;
      }
    }
  }
}
