@use '../abstracts/' as *;

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: var(--dark-color-4);
  font-weight: var(--font-weight-extra-bold);
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(map-get($size-scale, s5) * 1.65);
}

h2, .h2 {
  font-size: calc(map-get($size-scale, s4) * 1.45);
}

h3, .h3 {
  font-size: map-get($size-scale, s1);
}

h4, .h4 {
  font-size: map-get($size-scale, s0);
}

h5, .h5 {
  font-size: map-get($size-scale, s-1);
}

h6, .h6 {
  font-size: map-get($size-scale, s-2);
}
