@use '../abstracts/' as *;

.footer {
  --vertical-space: #{toRem(100px)};
  --cta-vertical-space-top: #{toRem(50px)};

  padding-top: var(--vertical-space);
  padding-bottom: var(--vertical-space);

  &::before {
    display: none;
  }

  &__cta {
    .btn {
      margin-top: var(--cta-vertical-space-top);
    }
  }

  &__copyright {
    gap: var(--space-s-2);
    margin-top: toRem(30px);
  }

  @include media-breakpoint(md) {
    --vertical-space: #{toRem(70px)};
    --cta-vertical-space-top: 0;

    &__cta {
      .row {
        justify-content: flex-end;
      }
    }

    &__copyright {
      padding-top: toRem(30px);
      border-top: 1px solid var(--dark-color-5-opacity-50);
    }
  }

  @include media-breakpoint(xl) {
    --vertical-space: #{toRem(120px)};

    &::before {
      display: block;
    }
  }
}
