@use '../abstracts/' as *;

.hero {
  --vertical-space-top: 0;
  --vertical-space-bottom: #{calc(map-get($size-scale, s0) * 6)};
  --content-gap: #{calc(map-get($size-scale, s0) * 2.5)};

  position: relative;
  padding-top: var(--vertical-space-top);
  padding-bottom: var(--vertical-space-bottom);

  &__content {
    align-items: flex-start;
    margin-top: calc(map-get($size-scale, s0) * 3.5);

    > * + * {
      margin-top: var(--content-gap);
    }
  }

  @include media-breakpoint(md) {
    --vertical-space-top: #{calc(map-get($size-scale, s0) * 4.75)};
    --vertical-space-bottom: #{calc(map-get($size-scale, s0) * 9.375)};
    --content-gap: #{calc(map-get($size-scale, s0) * 2)};

    &__illustration {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to right,
          var(--neutral-color-1) 0%,
          var(--neutral-color-1-opacity-0) 10%
        );
      }
    }

    &__content {
      margin-top: 0;
    }
  }

  @include media-breakpoint(xl) {
    --vertical-space-top: #{calc(map-get($size-scale, s0) * 7)};
    --content-gap: #{calc(map-get($size-scale, s0) * 3)};
  }
}
