@use '../abstracts/' as *;

.page {
  --page-offset-top: #{toRem(112px)};

  &__content {
    margin-top: var(--page-offset-top);
  }

  @include media-breakpoint(md) {
    --page-offset-top: 0;
  }
}
