@use '../abstracts/' as *;

.section {
  --vertical-space-top: #{calc(map-get($size-scale, s0) * 4.75)};
  --horizontal-space-left: 0;
  --content-vertical-space-top: #{calc(map-get($size-scale, s0) * 3.5)};
  --content-vertical-space-bottom: 0;
  --content-horizontal-space-left: 0;
  --content-gap: #{calc(map-get($size-scale, s0) * 2.5)};

  &__image {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    align-items: flex-start;

    > * + * {
      margin-top: var(--content-gap);
    }
  }

  @each $breakpoint, $value in $breakpoints {
    @include media-breakpoint(#{$breakpoint}) {
      @if $breakpoint != sm {
        --horizontal-space-left: #{calc(50% - #{calc(map-get($containers, #{$breakpoint}) / 2)})};
      }
    }
  }

  &[data-variant="hero"] {
    .section__content {
      padding-top: var(--content-vertical-space-top);

      > * {
        max-width: 45ch;
      }
    }

    h1 {
      line-height: 1.2;
    }

    p {
      line-height: 1.7;
    }
  }

  @include media-breakpoint(md) {
    &[data-variant="hero"] {
      --content-vertical-space-top: 0;

      position: relative;

      .section__image {
        picture {
          position: relative;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(
              to right,
              var(--neutral-color-1) 0%,
              var(--neutral-color-1-opacity-0) 10%
            );
          }
        }
      }

      .container {
        position: absolute;
        top: var(--vertical-space-top);
        left: var(--horizontal-space-left);
      }
    }
  }

  @include media-breakpoint(xl) {
    &[data-variant="hero"] {
      --vertical-space-top: #{calc(map-get($size-scale, s0) * 7)};
    }
  }
}