<div class="container">
  <div class="row">
    <a href="/" class="header__brand">
      <img src="assets/images/shared/logo-full.svg" alt="Creative Agency logo">
    </a>

    <nav class="header__navigation">
      <ul class="row">
        <li>
          <a href="/">About</a>
        </li>

        <li>
          <a href="/">Service</a>
        </li>

        <li>
          <a href="/">Projects</a>
        </li>

        <li>
          <a href="/" class="btn" data-variant="secondary">Schedule a Call</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
